html
	head
	body
		a(href='/') home
		br
		a(href='/users/new') 	 new user   
		br
		a(href='users/searchbar')     search users


		each user in users
			li firstname: #{user.firstname}, lastname: #{user.lastname},  email: #{user.email}
