html
	head
	body
		a(href='/') home
		form(action='/users' method='post')
			label firstname
			input(name='firstname')
			label lastname
			input(name='lastname')
			label email
			input(name='email')
			input(type='submit' value='create')