html
	head
	body
		a(href='/') home
		
		form(action='./search' method='post')
			label firstname
			input(name='firstname')
			input(type='submit' value='find user')
			br
			label lastname
			input(name='lastname')
			input(type='submit' value='find user')
			br
		